*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-09-09-js-quiz.md
_posts/2022-08-30-python-talk.md
_posts/2022-08-28-wh1-notes.md
_posts/2022-08-28-quiz.md
.gitignore
.gitignore
.gitignore
.gitignore
.gitignore
_posts/2022-08-21-first-post.md
_posts/2022-08-28-bash-hacks.md
_posts/2022-08-21-jupyter-notebook.md
_posts/2020-02-20-test.md
_posts/2022-09-09-cpt-blog.md
assets/img/2022-08-28-wh1-notes/media/image1.png
Gemfile.lock
settings.ini
images/copied_from_nb/my_icons/fastai_logo.png
_posts/2022-09-13-focus-habits-hacks.md
_posts/2022-09-22-javascript.md
_posts/2023-03-07-AP-unit2-2.md
_posts/2023-02-12-bigidea5556.md
_posts/2022-11-26-listanditerationhomework.md
_posts/2022-11-28-unit12-notes.md
_posts/2022-11-29-developing-algorithms-js.md
_posts/2022-12-12-libraries-hw.md
_posts/2023-01-11-grading2.md
_posts/2022-12-12-StudentCopyRandomValues.md
_posts/2023-01-24-bigidea5152.md
_posts/2023-02-05-bigidea5354.md
